/* reset */
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

/* padrão */
:root{
    --font-size-1: 1.3em;
    --font-size-2: 1.0em;
    --font-size-3: 0.8em;
    --font-size-4: 0.6em;

    --bg-color-primary: #D9D9D9;
    --bg-color-primary: #f3f3f3;
    --bg-color-secondary: #aaaaaa;
    --bg-color-tertiary: #d4d4d4;
    --font-color-secondary: #7d7d7d;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal-container{
    margin-top: 50px;
    width: 1200px;
    min-height: 100vh;
    height: auto;
    padding: 0 15px 0 15px;
    background-color: var(--bg-color);
    margin-bottom: 50px;
}
.card-anuncio-1{
    background-image: url(../produto/fotos/banner4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-anuncio-2{
    background-image: url(../produto/fotos/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hr-1{
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}
.hr-1 hr{
    width: 90%;
}
.whatsapp-link {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px rgb(51, 51, 51);
    z-index: 1;
    transition: all 0.3s;
}
.whatsapp-link:hover{
    color: black;
    margin-bottom: 10px;
    transition: all 0.3s;
}
.fa-whatsapp {
    /* margin-top: 16px; */
    align-items: center;
    text-align: center;
}
.foto{
    width: 2rem;
}
.principal-secao-global{
    margin-top: 100px;
}

/* media queries */
@media (max-width:1200px){
    .principal-container{
        width: 100%;
    }
}
@media (max-width:850px){
    .hr-1{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}