/* reset */
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}




/* padrão */
:root{
    --font-size-1: 1.3em;
    --font-size-2: 1.0em;
    --font-size-3: 0.8em;
    --font-size-4: 0.6em;

    --bg-color-primary: #D9D9D9;
    --bg-color-primary: #f3f3f3;
    --bg-color-secondary: #aaaaaa;
    --bg-color-tertiary: #d4d4d4;
    --font-color-secondary: #7d7d7d;
}

/* **************************************************** */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal-container{
    margin-top: 50px;
    width: 1200px;
    min-height: 100vh;
    height: auto;
    padding: 0 15px 0 15px;
    background-color: var(--bg-color);
    margin-bottom: 50px;
}

/* cabeçalho */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-primary);    
    transition: .3s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 20%);
}

.navbar{
    background-color: var(--bg-color-primary);  
    width: 1200px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.logo{
    font-size: 32px;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.logo span{
    font-weight: 800;
    color: tomato;
}

.logo{
    width: 10%;
}
.logo a{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
.menu{
    width: 62%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-ico{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    display: none;
    margin-right: 15px;
}
.menu ul{
    list-style: none;
    display: flex;
    height: 80%;
}
.menu ul li{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
    position: relative;
}
.menu ul a{
    padding: 10px;
    font-size: 0.8em;
    font-weight: 500;
    color: #333333;
}

/* efeitos navbar */
.menu ul a::after{
    content: ' ';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    bottom: -2px;
    left: 0;
    transition: ease .40s;
}
.menu ul a:hover::after{
    width: 100%;
}
.perfil-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
}
.perfil{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.acesso i{
    font-size: 40px;
}

.acesso ul li{
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.acesso ul li i{
    display: flex;
    align-items: center;
    font-size: 25px;
}


.btn_ico{
    font-size: 1.5em;
    transition: all 0.2s;
    align-items: center;
    cursor: pointer;
}

.btn_ico:hover{
    font-size: 1.7em;
    transition: all 0.2s;
}

.loginAcessar{
    display: flex;
    align-items: center;
    width: auto;
}
.loginAcessar a{
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.carrinho{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 18px;
    margin-left: 8px;
}
.carrinho i{
    font-size: 1.5em;
}
.acesso ul li{
    display: inline-block;
    position: relative;
}
.acesso ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: #333333;
    border-left: 3px solid salmon;
}
.acesso ul li ul.dropdown li{
    font-size: 1.5em;
    width: 150px;
}
.acesso ul li ul.dropdown{
    width: 100%;
    position: absolute;
    right: 112px;
    z-index: 999;
    display: none;
}
ul li:hover ul.dropdown{
    display: block;
}
.dropdown a:hover{
    color:  salmon;
    background-color: rgba(30, 30, 30, 50)
}
.login-2{
    display: none;
}

.dropUser{
    display: none;
    padding: 20px 25px;
    text-decoration: none;
    text-align: left;
    background-color: #333333;
    border-left: 3px solid salmon;
    font-weight: 200;
    position: absolute;
    top: 50px;
    width: 250px;
    right: 150px;
    z-index: 1;
}
    .dropUser ul{
        position: relative;
    }
        .perfilNome,
        .perfilCPF,
        .perfilEmail{
            color: whitesmoke;
        }
            .perfilNome{
                font-weight: 600
            }

            .perfilConta a{
                margin: 0;
                color: white;
                text-decoration: underline;
            }
            .perfilConta a:hover{
                color: #bbbbbb;
                font-weight: 400;
            }

/* principal container */

/* carrosel - pag home */
    .carousel{
        height: auto;
        margin-top: 50px;
    }

    .carousel-inner{
        max-height: 60vh;
        border-radius: 0 0 30px 30px;
        border-radius: 30px;
    }

    .carousel-control-prev span, .carousel-control-next span{
        width: 50px;
        height: 50px;
        border-radius: 30px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 20%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-carousel i{
        font-size: 42px;
        color: white;
    }
    
    .carousel-indicators .active {
        opacity: 1;
    }
    .carousel-indicators{
        opacity: .5;
    }
    
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
/*  */






/* login */
.principal-login{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 35px;
}



.container-login{
    width: 500px;
    min-height: 400px;
    margin-top: 70px;
}
.titulo-login{
    text-align: center;
    font-size: 2em;
}

.dados-login{
    height: 120px;
    height: auto;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
}
.dados-login input,
.dados-cadastro input{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    outline: none;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
    color: #333333;
}

.login-btn-entrar button{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    background-color: var(--bg-color-secondary);
    color: white;
}

.login-btn-entrar button:active{
    transition: all .1s;
    background-color: #333333;
}

.login-btn-entrar,
.cadastro-btn-criar{
    transition: all .2s;
}
.login-btn-entrar button:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: all .2s;
    cursor: pointer;
}
.login-outros{
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.login-checkbox label{
    padding-left: 10px;
}
.login-outros div,
.login-cadastro{
    display: flex;
    align-items: center;
}
.login-checkbox label,
.login-esqueceu a{
    color: var(--font-color-secondary);
    font-weight: 200;
}

.login-cadastro{
    height: 50px;
    font-weight: 200;
    color: var(--font-color-secondary);
}
.login-cadastro a{
    font-weight: 400;
    margin-left: 5px;
    color: var(--font-color-secondary);
}
::placeholder{
    font-weight: 200;
    color: rgb(212, 212, 212);
}
.container-login a{
    transition: all .2s;
}
.container-login a:hover{
    color:  #333333;
    font-weight: 600;
    transition: all .2s;
}
/* ******* */




/* cadastro */
.container-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.principal-cadastro{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.container-cadastro{
    width: 900px;
    min-height: 400px;
    margin-top: 70px;
}
.dados-cadastro{
    width: 100%;
    height: 120px;
    height: auto;
    margin-top: 25px;
    
}
.titulo-cadastro{
    text-align: center;
    font-size: 2em;

}
.dados-cadastro input{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    outline: none;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
    color: #333333;
}
.cadastro-btn-criar{
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all .2s;
}
.cadastro-btn-criar button{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    background-color: var(--bg-color-secondary);
    color: white;
}

.cadastro-btn-criar button:active{
    transition: all .1s;
    background-color: #333333;
}


#cadastro-nascimento input{
    color: rgb(212, 212, 212);
}
#cadastro-nascimento input:valid{
    color: #333333;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #3f3f3f;
    transition: background-color 5000s ease-in-out 0s;
}

.cadastro-btn-criar button:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: all .2s;
    cursor: pointer;
}



.item1 { grid-area: nome; }
.item2 { grid-area: cpf; }
.item3 { grid-area: data; }
.item4 { grid-area: telefone; }
.item5 { grid-area: email; }
.item6 { grid-area: senha; }
.item7 { grid-area: btn-criar; }

#grid-container {
  display: grid;
  grid-template-areas:
    'nome nome nome cpf cpf cpf'
    'data data data telefone telefone telefone'
    'email email email email email email'
    'senha senha senha senha senha senha'
    'btn-criar btn-criar btn-criar btn-criar btn-criar btn-criar';
  gap: 10px;
}



/* usuario listar */
.principal_usuario_listar,
.principal_usuario_alterar{
    margin-top: 100px;
}

.tbl_listar th{
    background-color: #333333;
    color: white;
    font-weight: 400;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #D9D9D9;
}

table td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    text-align: center;
}
/* ********************************** */


.hr-1{
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}
.hr-1 hr{
    width: 90%;
}
.whatsapp-link {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px rgb(51, 51, 51);
    z-index: 1;
    transition: all 0.3s;
}

.whatsapp-link:hover{
    color: black;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.fa-whatsapp {
    /* margin-top: 16px; */
    align-items: center;
    text-align: center;
}





/* contato */
.principal-contato{
    margin-top: 50px;
    /* background-color: tomato; */
}
.container-contato{
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}
    .endereco{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        width: 400px;
    }
    .endereco ul{
        margin-top: 30px;
    }
    .endereco ul li{
        display: flex;
        margin: 10px 0;
    }
    .endereco ul li i{
        display: flex;
        align-items: center;
        font-size: 1.5em;
    }
    .endereco ul li span{
        margin-left: 5px;
        font-weight: 300;
        color: #3f3f3f;
    }
    .mapa{
        width: 550px;
    }
    .mapa iframe{
        width: 100%;
        height: 100%;
        border-radius: 30px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }


/* sobre */
    .principal-sobre{
        margin-top: 50px;
    }

    .container-sobre{
        padding: 10px;

    }
    .sobre{
        text-align: center;
    }
    .container-sobre h2{
        font-size: 1.9em;
    }
    .equipe{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }
    .integrante{
        width: 250px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
        .integrante span{
            font-size: 1.2em;
            font-weight: 600;
        }
        .integrante img{
            margin-top: 5px;
            border-radius: 100%;
            width: 250px;
            height: 250px;
            box-shadow: 5px 5px 0px rgba(0, 0, 0, 100%);

        }
    
        .integrante-cargo{
            font-size: 1.0em;
            font-weight: 300;
            margin-top: 5px;
        }
        .integrante-links{
            margin-top: 15px;
        }
        .integrante-links i{
            font-size: 2.0em;
        }
        .integrante-cargo ul{
            text-align: center;
        }





/* produtos */
        .principal-produto,
        .principal-produto-visualizar{
            margin-top: 50px;
        }

          .foto img{
            width:100%;
          }

          .container-card-produtos{
            margin-bottom: 100px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            /* background-color: tomato; */
            justify-content: center;
          }

          .container-card-produtos a{
            /* border: 1px solid black; */
            /* background-color: greenyellow; */
            overflow: hidden;
            float: right;
          }
          .cards-produtos{
            min-width: 250px;
            width: 250px;
            height: 450px;
            display: flex;
            flex-direction: column;
            background-color: white;
            /* border: 1px solid black; */
            border-radius: 30px;
            margin: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }
          .cards-produtos-foto{
            min-height: 250px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px 30px 0 0;
            background-size: cover;
            background-position: center;
        }
          .cards-produtos-foto img{
            /* background-color: #333333; */
            width: 230px;
            height: 230px;
            border: none;
        }
          .cards-produtos-info{

          }
          .cards-produtos-titulo{
            margin-bottom: 25px;
            /* background-color: #D9D9D9; */
            height: 50px;
            font-weight: 500;
            text-align: center;
            font-size: 1.2em;
          }
          .cards-produtos-preco{
            /* background-color: #bbbbbb; */
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            font-weight: 600;
          }
          .produto-btn-comprar{
            display: flex;
            justify-content: center;
            margin-top: 20px;
          }
          .produto-btn-comprar button{
            /* margin-top: 20px; */
            border: none;
            border-radius: 30px;
            width: 50%;
            height: 40px;
            background-color: var(--bg-color-tertiary);
            color: black;
            font-weight: 700;
        }



        .produto-btn-comprar button:active{
            transition: all .1s;
            background-color: #333333;
            color: white;
        }
        
        .produto-btn-comprar{
            transition: all .2s;
        }
        .produto-btn-comprar button:hover{
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
            transition: all .2s;
            cursor: pointer;
        }
        .cards-produtos{
            display: flex;
            justify-content: center;

        }
        .cards-produtos-foto{
            /* background-color: #3f3f3f; */
            display: flex;
            text-align: center;
            justify-content: center;
        }
        .cards-produtos-foto img{
            width: 90%;
        }
        



/*  */

/* formatando a foto */
        .foto{
            width: 2rem;
        }
/*  */


/* visualizar produto */
        .container-produto-visualizar{
            /* background-color: aquamarine; */

        }
        .container-produto-visualizar-top{
            /* background-color: tomato; */
            display: flex;
            align-items: center;
            height: 500px;
            /* margin-top: 100px; */
            margin-bottom: 100px;
        }
        .caminho-produto{
            margin-top: 150px;
            width: 100%;
        }
        .caminho-produto h6{
            font-size: .9em;
            font-weight: 300;
        }

        .produto-visu-imagem{
            /* border: 3px solid blue; */
            /* background-color: tomato; */
            width: 60%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }
        .produto-visu-imagem img{
            width: 500px;
            /* border: 3px solid blue; */
        }

        .produto-visu-info{
            /* border: 1px solid black; */
            width: 60%;
            min-height: 450px;
            height: auto;
            /* background-color: greenyellow; */
            padding: 20px 0px 10px 30px;
        }

        .produto-visu-info-titulo h2{
            font-size: 1.9em;
            font-weight: 600;
        }
        .produto-visu-info-valores{
            font-size: 1.0em;
            font-weight: 600;
        }
        .valorAVista{
            font-size: 1.8em;
            margin-top: 50px;
        }
        .a-vista{
            font-size: 0.7em;
            font-weight: 600;
        }
        .parcelas{
            font-size: 1.1em;
        }
        .parcelas12x{
            font-size: 0.8em;
            font-weight: 400;
        }
        .btn-comprar-visu{
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: left;
        }
        .btn-comprar-visu button{
            width: 170px;
            height: 50px;
        }
        .frete{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
        }
        .frete-container{
            display: flex;
            align-items: center;
            padding: 10px 10px 10px 0;
        }
        .frete input{
            width: 50%;
            height: 45px;
            outline: none;
            border: 1px solid #c7c7c7;
            border-radius: 10px;
            background-color: transparent;
            padding: 10px;
            color: #333333;
            margin-right: 10px;
        }
        .btn-frete button{
            width: 60px;
            height: 45px;
            border: 1px solid #c7c7c7;
            border-radius: 10px;
            background-color: transparent;
            color: #333333;
            font-weight: 800;
        }

        .btn-frete button:active{
            transition: all .1s;
            background-color: #333333;
            color: white;
        }
        
        .produto-btn-comprar{
            transition: all .2s;
        }


        .container-produto-visualizar-botton{
            /* background-color: tomato; */
            margin-top: 50px;
        }


        .produtos-similares-carrossel{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container-produtos-similares{
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 150px;
        }
        .produtos-similares-titulo{

        }
        .carousel-inner-produtos-similares{
            width: 80%;
            display: flex;

        }
        #carouselExampleControls{
            width: 100%;
            display: flex;
            justify-content: center;

        }
/* 
        .similares-control-prev,
        .similares-control-next{
            background-color: tomato;
            width: 50px;
        } */
        .similares-control-prev span, .similares-control-next span{
            width: 50px;
            height: 50px;
            border-radius: 30px;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0%);
            border: 1px solid var(--bg-color-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .similares-control-prev span i,
        .similares-control-next span i{
            color: black;
        }




/* paginacao */
        .container-paginação{
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
        }
        .paginacao{
            display: flex;
            align-items: center;
        }


        .page-item{
            /* background-color: greenyellow; */
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .pagina-ativa{
            /* background-color: aquamarine; */
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            align-items: center;
        }

        .link-pagina{
            font-size: 1.3em;
            font-weight: 600;
            /* margin: 10px; */
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
        }
        .page-item i{
            font-size: 2.5em;
        }


        /* .paginacao .page-item.disabled .page-link {
            color: #999999;
            background-color: #ffffff;
            border-color: #999999;
          } */
          
          .paginacao .page-item.active .page-link {
            border: 1px solid var(--font-color-secondary);
          }
          
          .paginacao .page-item.disabled i{
            color: transparent;
          }


/* produtos  */
/* botoes categorias */
          .container-menu-produtos-categorias{
            width: 90%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: initial;
          }

          .btn-grupo-categorias{
            height: 50px;
          }
          .btn-grupo-categorias button{
            width: auto;
            height: auto;
            border: none;
            background-color: transparent;
            padding: 0 10px;
            margin: 5px 0;
            font-size: 1.0em;
            font-weight: 700;
            border-right: 1px solid black;
        }
        .btn-grupo-categorias button:hover{
            color: var(--font-color-secondary);
        }

        .container-produto{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* background-color: aqua */
        }
        .container-produto-titulo{
            display: flex;
            width: 90%;
            margin-top: 50px;
        }
/*  */






/* -------------------------------------------------- */
/* home */
        .principal-home{
            /* background-color: tomato; */
            height: auto;
        }
        .container-anuncio{
            width: 100%;
            height: 30vh;
            display: flex;
            justify-content: space-between;

            margin-top: 35px;
        }

        .card-anuncio-1,
        .card-anuncio-2{
            width: 48%;
            background-color: var(--bg-color-secondary);
            border-radius: 30px;
            padding: 10px;
        }

        .card-anuncio-1{
            background-image: url(../produto/fotos/banner4.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .card-anuncio-2{
            background-image: url(../produto/fotos/banner3.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .titulo-destaque{
            /* background-color: greenyellow; */
            text-align: center;
            margin-top: 100px;
        }
/* ---------------------------------------------------------- */
/* card promocao destaque */
        .container-card-promocao{
            /* background-color: tomato; */
        }
        .cards-promocao{
            width: 100%;
            display: flex;
            height: 50vh;
            margin-top: 15px;
            transition: all .2s;
        }
            .cards-promocao-foto{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .cards-promocao-foto div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
            .cards-promocao-foto div img{
                width: 80%;
            }
            .cards-promocao-info{
                width:50%;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            .cards-promocao-titulo{
                text-align: center;
                font-weight: 600;
                width: 100%;
                height: auto;
                font-size: 1.8em;
                margin-bottom: 20px;
            }
            .cards-promocao-valor{
                width: 100%;
                text-align: center;
                font-size: 1.3em;
            }
            .btn-comprar-promocao button{
                width: 150px;
            }
            .cards-promocao:hover{
                background-color: transparent;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                border-radius: 30px;
                transform: scale(1.01);
                transition: all .2s;
            }
            .promocao{
                margin-bottom: 100px;
            }

/* ------------------------------------------------------- */

/* -------------------------------------------------- */

/* contato mensagem */
.container-contato-input{
    width: 100%;
}
.dados-contato{
max-width: 700px;

}
.titulo-mensagem h5{
    font-size: 1.0em;
    font-weight: 400;
}
.dados-contato input,
.dados-contato textarea{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    outline: none;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
    color: #333333;
}
.dados-contato textarea{
    min-height: 300px;
    max-height: 300px;
    width: 100%;
}
.cadastro-btn-msg{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: initial;
}
.cadastro-btn-msg button{
    width: 100px;
    margin-bottom: 15vh;
}

/*  */
/* ----------------------------------- */




/* *--------------------------- */
/* cadastro produtos */
        .principal-cadastro-produto{
            margin-top: 100px;
        }
        .container-cadastro-produto{
            /* background-color: tomato; */
        }
        .cadastro-produto div{
            /* border: 1px solid black; */
        }
        .container-cadastro-produto label{

        }

        .btn-cadastro{
            /* background-color: tomato; */
            display: flex;
            width: 100%;
            /* align-items: end; */
            /* float: right; */
            justify-content: right;
        }
        .btn-cadastro button, .btn-cadastro-cadastrar{
            width: 130px;
            height: 45px;
            border: 1px solid #c7c7c7;
            border-radius: 10px;
            background-color: transparent;
            color: #333333;
            font-weight: 800;
            margin-left: 10px;
        }
        .btn-cadastro-cadastrar{
            width: 150px;
            margin-bottom: 15px;
        }
        .btn-cadastro-container{
            margin-top: 50px;
        }

        .btn-cadastro-cadastrar:hover{
            background-color: var(--bg-color-secondary);
            border: 1px solid var(--bg-color-primary);
            color: white;
        }

        .btn-cadastro button:active{
            transition: all .1s;
            background-color: #333333;
            color: white;
        }
        .btn-cadastro-secondary button, 
        .btn-cadastro-primary button{
            transition: all .2s;
        }
        .btn-cadastro-secondary:hover{
            background-color: var(--font-color-secondary);
            color: white;
        }
        .btn-cadastro-primary:hover{
            background-color: var(--bg-color-primary);
        }

        .btn-cadastro-secondary button:hover, 
        .btn-cadastro-primary button:hover{
            background-color: var(--bg-color-secondary);
            color: white;
            transition: all .2s;
        }
        .mb-3 textarea{
            width: 100%;
            min-height: 150px;
            max-height: 200px;
        }

        .cadastro-produto label,
        .cadastro-produto p,
        .format-cadastros,
        .mb-3 label{
            font-weight: 600;
        }





        /* secões */
        .principal-secao-global{
            margin-top: 100px;
        }


/* ........................................................................ */
/* responsividade */









        
/* media queries */
@media (max-width:1200px){
    .principal-container{
        width: 100%;
    }

}


@media (max-width:850px){
    .hr-1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

}
@media (max-width:800px){
    #menu-ico{
        display: block;
    }

    .login-2{
        display: block;
    }
    .perfil{
        display: none;
    }

    .menu ul{
        width: 100%;
        position: fixed;
        top: 70px;
        right: -100%;
        bottom: -100%;
        nav-up: -100%;
        min-height: 600px;
        height: 100%;
        width: 100%;
        text-align: center;
        display: block;
        transition: all .3s ease;
        background-color: #333333;
    }

    .menu ul.open{
        right: 0;
    }

    .menu li{
        width: 100%;
    }

    .menu ul li{
        padding: 15px 0;
        margin: 0;
        border-left: 4px solid white;   
        margin: 1px solid red   ;
        margin: 10px 0;
    }
    .menu ul li a{
        color: #bbbbbb;
        font-weight: 200;
        display: block;
        width: 100%;
    }

    .menu a:hover{
        color: white;
        font-weight: 400;
    }
    .menu ul a::after{
        background-color: white;
    }



}


@media (max-width:620px){

    .container-cadastro{
        margin-top: 0;
    }
    .titulo-cadastro{
        margin-top: 25px;
    }
    .item1 { grid-area: nome; }
    .item2 { grid-area: cpf; }
    .item3 { grid-area: data; }
    .item4 { grid-area: telefone; }
    .item5 { grid-area: email; }
    .item6 { grid-area: senha; }
    .item7 { grid-area: btn-criar; }

    #grid-container {
    display: grid;
    grid-template-areas:
        'nome nome nome nome nome nome'
        'cpf cpf cpf cpf cpf cpf'
        'data data data data data data'
        'telefone telefone telefone telefone telefone telefone'
        'email email email email email email'
        'senha senha senha senha senha senha '
        'btn-criar btn-criar btn-criar btn-criar btn-criar btn-criar ';
    gap: 10px;
    }
}




@media (min-width:1080px){

}

@media (max-width:1080px){
    .container-produtos-similares{
        height: 900px;
    }
    .produtos-similares-1{
        margin-bottom: 0;
        height: 750px;
    }


}

@media (max-width: 960px) {
    .produtos-similares-carrossel {
      flex-basis: 50%;
      max-width: 100%;
      display: flex;
    }
        .carousel-inner-produtos-similares{
            height: 84%;

        }
            .carousel-item{
                flex-basis: 100%;
            }
                .carousel-item.active{
                    height: 84%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                }
    
  }

@media (max-width:740px){
    .carousel-inner-produtos-similares{
        height: 84%;

    }
        .carousel-item{
            flex-basis: 100%;
        }
            .carousel-item.active{
                height: 84%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
            }
                .produtos-similares-carrossel {
                    flex-basis: 100%;
                    max-width: 100%;
                    display: flex;
                }
    }




@media (max-width:1000px){
 /* ......................... home */
    .cards-promocao-titulo{
        font-size: 1.3em;
    }
        .cards-promocao-valor{
            font-size: 1.0em;
        }
            .cards-promocao{
                height: 250px;
            }

    .sobre h2{
        font-size: 1.3em;
    }
        .sobre p{
            font-size: 0.8em;
            margin: 0;
        }

    .equipe{
        margin-top: 25px;
    }
        .equipe span{
            font-size: var(--font-size-2);
        }
            .equipe ul{
                font-size: var(--font-size-3);
            }
                .integrante{
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
                    .integrante img{
                        width: 250px;
                        height: 250px;
                    }
    .container-contato{
    }
        .endereco h2{
            font-size: var(--font-size-1);
        }
        .endereco ul{
            font-size: var(--font-size-3);
            margin-top: 10px;
        }
            .mapa{
                width: 100%;
                height: 250px;
            }
    .container-contato-mensagem h2{
        font-size: var(--font-size-1);
    }

        .container-contato-mensagem h5{
            font-size: var(--font-size-3)
        }
        .container-anuncio{
            height: 640px;
            display: flex;
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .card-anuncio-1,
        .card-anuncio-2{
            width: 70%;
            height: 300px;
            background-color: var(--bg-color-secondary);
            border-radius: 30px;
            padding: 10px;
        }


}





@media (max-width:980px){
    .container-menu-produtos-categorias{
        height: 110px;
        display: none;
    }

    .container-menu-produtos-categorias form div button{
        font-size: 0.9em;
    }
    .filtro-categoria{
        width: 100%;
    }


}

@media (min-width:980px){
    .filtro-categoria{
        display: none;
    }


}


@media (max-width:720px){
    .container-anuncio{
        height: 540px;
        display: flex;
    }
    .card-anuncio-1,
    .card-anuncio-2{
        width: 70%;
        min-height: 250px;
        height: auto;
    }
}







@media (max-width:590px){
    .container-produto-visualizar-top{
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
        .produto-visu-imagem{
            /* border: 3px solid black; */
            width: 100%;
            height: 400px;
        }
        .imagem-visu-imagem{
            /* border: 3px solid black; */
        }
        .imagem-visu-imagem img{
            width: 320px;
        }

            .produto-visu-info{
                width: 100%;
                min-height: 380px;
                height: auto;
                /* border: 1px solid black; */
                padding: 10px 10px 0px 10px;
            }
            
            .produto-visu-info-titulo h2{
                font-size: var(--font-size-1);
            }
            .produto-visu-info-valores{
                font-size: var(--font-size-3);
                margin-left: 0;
            }
                .btn-comprar-visu button{
                    width: 100px;
                    height: 40px;
                    font-size: var(--font-size-3)
                }
                    .frete{
                        margin-top: 35px;
                    }

                    .frete span{
                        font-size: var(--font-size-3);

                    }

                    .frete-container{
                        font-size: var(--font-size-3);
                    }

                        .container-produto-visualizar-botton{
                            font-size: var(--font-size-3);
                            margin-top: 0;
                        }
                            .caminho-produto{
                                margin-top: 0;
                            }
    .container-anuncio{
        height: 440px;
    }
    .card-anuncio-1,
    .card-anuncio-2{
        width: 70%;
        min-height: 200px;
        height: auto;
    }
        }

    @media(max-width:500px){
        .carousel-control-prev span, .carousel-control-next span{
            width: 30px;
            height: 30px;
            border-radius: 30px;
            padding: 15px;
            background-color: rgba(0, 0, 0, 20%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .icon-carousel i{
            font-size: 22px;
            color: white;
        }

        .carousel-indicators [data-bs-target] {
            width: 10px;
            height: 10px;
        }

    }

    @media (max-width:390px){
        .menu ul li{
            border-left: 2px solid white;   
            font-size: var(--font-size-1);
        }
    }
    @media (max-width:360px){
        .menu ul li{
            border-left: 2px solid white;   
            font-size: var(--font-size-3);
        }
    }